# Python
__pycache__/
*.pyc
.env
.venv/
venv/
env/

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints

# Env variants
.env.local
.env.*
.secrets

# Arquivos de texto e documentação local
post_linkedin.md